{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fiducia</title>
    <script type="text/javascript" src="{% static 'common_static/jquery/node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'common_static/js/main.js' %}"></script>
    <script src="{% static 'UserApp/user.js' %}"></script>
    <script src="{% static 'UserApp/order_listpage.js' %}"></script>
    <script src="{% static 'UserApp/single_orderpage.js' %}"></script>
    <script src="{% static 'UserApp/single_journeypage.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "common_static/css/style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "UserApp/user_style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "common_static/js/bootstrap-4.0.0-dist/css/bootstrap.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

{% block content %}
{% endblock %}

    <script src="../../static/common_static/js/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
</body>
</html>