{% extends 'base.html' %}

{% load static %}


{% block content %}

    <div id="top-section-wrapper" class="container-fluid">
        <!-------- banner ------->
        <div id="main-banner" class="row">
            <div id="main-banner-content-container" class="col-sm-12">
                <!--------nav ------->
                <div class="row">
                    <div class="col-sm-12 p-0">
                        {% include "header_nav.html" %}
                    </div>

                </div>

                <div id="main-banner-content-heading-wrapper" class="row justify-content-center">
                    <h1 id="main-banner-content-heading" class="col-sm-7 text-center">
                        Order, Travel, Earn, Save !
                    </h1>
                </div>

                <div id="main-banner-card-wrapper" class="row">

                    <div id="" class="col-sm-4 main-banner-content-section-wrapper">
                        <div class="main-banner-card">
                          <div class="main-banner-card-body">
                            <p id="main-banner-content-send-text" class="main-banner-card-text">Send self-packed item. If you already have some items and you want to send the Package.</p>
                            <a href="{% url 'UserApp:sendpackage' %}" id="main-banner-content-send-button" class="main-banner-content-button">Send Package</a>
                          </div>
                        </div>
                    </div>

                    <div id="" class="col-sm-4 main-banner-content-section-wrapper">
                        <div class="main-banner-card">
                          <div class="main-banner-card-body">
                            <p id="main-banner-content-create-text" class="main-banner-card-text">Want to buy something from abroad. Copy url from any E-commerce sit and create an Order.</p>
                            <a href="{% url 'UserApp:createorder' %}" id="main-banner-content-create-button" class="main-banner-content-button">Create Order</a>
                          </div>
                        </div>
                    </div>

                    <div id="" class="col-sm-4 main-banner-content-section-wrapper">

                        <div class="main-banner-card">
                          <div class="main-banner-card-body">
                            <p id="main-banner-content-journey-text" class="main-banner-card-text">Earn while travelling by carrying packages and reduce you trip cost.</p>
                            <a href="{% url 'UserApp:create_journey' %}" id="main-banner-content-journey-button" class="main-banner-content-button">Post journey</a>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{#    <!------second section-------->#}
{#    <div id="second-section">#}
{##}
{#    </div>#}
{##}
{#    <!------second section-------->#}
{#    <div id="third-section">#}
{##}
{#    </div>#}
{% endblock %}
