{% extends 'base.html' %}

    {% block content %}
        {% include 'header_nav.html' %}
        {% load static %}

        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="media" style="">
                      <img class="mr-5 product-image rounded" src="{{ order.package_image.url }}" alt="Generic placeholder image">
                      <div class="media-body rounded info-bg p-3">
                          <h5 class="mt-0 font-weight-bold">{{ order.package_description }}</h5>
                          <p id="" class="">Order created {{ order.order_creation_date }}</p>
                          <p id="" class="">Weight {{ order.package_weight }}</p>
                          <p id="" class="">Delivery price {{ order.delivery_price }}</p>
                          <p id="" class="">Order status {{ order.order_status }}</p>
                          <p id="" class="">Delivery status {{ order.delivery_status }}</p>
                          <p id="" class="">From {{ order.package_from }}</p>
                          <p id="" class="">To {{ order.package_to }}</p>
                          <p id="" class="">Delivery date before{{ order.delivery_date }}</p>

                          {% if negotiates %}
                              {% for n in negotiates %}
                              <div class="negotiation-wrapper form-group">
                                  <label id="" class="mr-2" data-toggle="modal" data-target="#negotiator-modal"
                                  data-whatever="{{ n.negotiator.id}}-modal">
                                      {{ n.negotiator.first_name }}
                                  </label>
                                  <label id="" class=" mr-2">Offered RM {{ n.negotiator_price }}</label>
                                  <label id="" class=" mr-2">I offered RM {{ n.orderer_price }}</label>
                                  <div class="button-wrapper">
                                      <input class="negotiation_id" value="{{ n.id }}">
                                      <input class="journey_id" value="{{ n.journey.id }}">
                                      <div id="" class="nego-accept-button btn btn-primary mr-2">Accept</div>
                                      <div id="" class="nego-negotiate-button btn btn-secondary mr-2">Negotiate</div>
                                      <div id="" class="nego-reject-button btn btn-danger">Reject</div>
                                  </div>
                              </div>
                          {% endfor %}
                          {% endif %}
                          <div class="modal fade" id="negotiator-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Negotiator</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      {% for n in negotiates %}
                                      <div id="{{ n.negotiator.id }}-modal" class="modal-body negotiator-modal-body">
                                          <div class="container-fluid">
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <img class="rounded negotiator-image img-fluid" src="{% static 'UserApp/images/team2.png' %}">
                                                  </div>
                                                  <div class="col-md-6 bg-light p-3">
                                                      <p>{{ n.negotiator.first_name }} {{ n.negotiator.last_name }}</p>
                                                      <p>{{ n.negotiator.short_bio }}</p>
                                                      <p>{{ n.negotiator.nationality }}</p>
                                                      <p>date_joined</p>
                                                      <p>Traveller {{ n.negotiator.traveller_rating }}</p>
                                                      <p>Shopper {{ n.negotiator.shopper_rating }}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      {% endfor %}
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <br>
            {% if order.journey %}
            <div class="row4">
                <div class="col-md-12">
                    <h3>Accepted by</h3>
                    <div class="media">
                        <img class="mr-5 traveller-image rounded " src="{% static 'UserApp/images/team2.png' %}" alt="Generic placeholder image">
                        <div class="media-body info-bg p-3 rounded">
                            <h5 class="font-weight-bold">{{ order.journey.traveller.first_name }}</h5>
                            <p id="" class="">Traveller Rating {{ order.package_weight }}</p>
                            <p id="" class="">Orderer Rating {{ order.delivery_price }}</p>
                            <p id="" class="">Travelling From {{ order.journey.depart_area_name }} date&time</p>
                            <p id="" class="">Travelling To {{ order.journey.destination_area_name }} date&time</p>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <p class="display-4">Not Accepted Ya</p>
            {% endif %}
            <br>

            <input type="hidden" class="order_id" value="{{ order.id }}">
            <input type="hidden" class="create_journey_order"
                   value="{% url "UserApp:UserProfileApi:create_journey_order" %}">

{#            <div class="row">#}
{#                <div class="col-sm-6" style="background-color: #18a4e0; margin: 0;padding: 0">#}
{#                    <img class="product-image" src="{{ order.package_image.url }}" >#}
{#                </div>#}
{#                <div class="col-sm-6 text-left" style="background-color: #dddddd; margin: 0">#}
{#                    <p>{{ order.package_description }}</p>#}
{#                </div>#}
{#            </div>#}
        </div>
    {% endblock %}